<button class="back-button" routerLink="/topics">Takaisin aiheisiin</button>

<div class="category">
  @if (loading()) {
    <p>Ladataan...</p>
  } @else if (topicData()) {
    <h2>{{ category() }}</h2>
    <div class="items">
      @for (item of topicData(); track item._id) {
        <div
          class="item"
          [style.background-color]="categoryColor()"
          [style.border]="'2px solid ' + categoryBorderColor()"
        >
          <h3>{{ item.title }}</h3>

          <ul>
            @for (line of item.content; track line) {
              <li>{{ line }}</li>
            }
          </ul>
        </div>
      }
    </div>
  }
</div>
