/* You can add global styles to this file, and also import other style files */

/* Nollataan selaimen oletusmarginaalit ja paddingit, jotta taustat peittävät koko ruudun */
body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
